<footer>
    <div class="d-flex flex-row flex-inline-row mb-3">
        <div class=" d-flex justify-content-start w-25">
            <div class="p-2 bd-highlight"><p style="font-size:12px;">Copyright &copy; @DateTime.Now.Year - Lend My Auto</div>
        </div>
        <div class=" d-flex w-75 justify-content-end">
            <div class="p-2 bd-highlight"> <a style="color:#4C4CE2" href="/Home/TermsAndConditions">Terms of Use</a></div>
            <div class="p-2 bd-highlight"> <a style="color:#4C4CE2" href="/Home/PrivacyPolicy">Privacy Policy</a></div>

        </div>
        <div class=" d-flex w-100 justify-content-end" style="flex-wrap:wrap" >
            <div class="p-2 bd-highlight"><a href="https://www.facebook.com/lendmyauto/" target="_blank"><img src="~/Images/LendFacebook.png" style="width:72%" /> </a></div>
            <div class="p-2 bd-highlight"><a href="https://www.instagram.com/lendmyauto/" target="_blank"><img src="~/Images/LendInstagram.png" style="width:72%"/> </a></div>
            <div class="p-2 bd-highlight"><a href="https://www.linkedin.com/company/lendmyauto-com/" target="_blank"><img src="~/Images/LendLinkedIn.png" style="width:72%" /> </a></div>
            <div class="p-2 bd-highlight"><a href="https://twitter.com/lendtocare" target="_blank"><img src="~/Images/LendTwitter.png" style="width:72%" /> </a></div>
        </div>
        </div>
</footer>
