

<!-- Footer -->
<footer class="page-footer font-small blue ">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-3 mt-md-0 mb-3">

                <!-- Content -->
                &copy; @DateTime.Now.Year - Lend My Auto

            </div>
            <!-- Grid column -->

         

            <!-- Grid column -->
            <div class="col-md-2 mb-md-0 mb-3">

                <!-- Links -->


                <a style="color:#4C4CE2" href="/Home/TermsAndConditions">Terms of Use</a>






            </div>
            <!-- Grid column -->
            <!-- Grid column -->
            <div class="col-md-2 mb-md-0 mb-3">

                <!-- Links -->
                <a style="color:#4C4CE2" href="/Home/PrivacyPolicy" >Privacy Policy</a>

            </div>
            <div class="col-md-3 mb-md-0 mb-3 text-md-right">
              
                    <a href="https://www.facebook.com/lendmyauto/" target="_blank"><img src="~/Images/LendFacebook.png" style="width:32px"></a>
          
                    <a href="https://www.instagram.com/lendmyauto/" target="_blank"><img src="~/Images/LendInstagram.png" style="width:32px"></a>
                    <a href="https://www.linkedin.com/company/lendmyauto-com/" target="_blank"><img src="~/Images/LendLinkedIn.png" style="width:32px;" /> </a>
                    <a href="https://twitter.com/lendtocare" target="_blank"><img src="~/Images/LendTwitter.png" style="width:32px" /> </a>
                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->

        </div>
    <!-- Footer Links -->
    <!-- Copyright -->
    <!-- Copyright -->

</footer>
<!-- Footer -->
