@{
    ViewBag.Title = "About";

}
<div class="container" style="padding-top:70px;">
    <h1 class="d-flex justify-content-center">What makes us move</h1>


<div style="margin-top:15px;">
    <p>
        With his life savings in hand and a dream in mind our founder Brandon Steinbeigle envisions a
        world where we can enrich our own lives by saving hundred to thousands of dollars over traditional
        car rental companies. He believes in doing so, a larger problem in the world can be solved, 
        connecting the have-nots in this world with adequate, reliable means of transportation.




    </p>
</div>
    </div>

@section scripts{
    <script>
    $(document).ready(function () {
        $('#headerPic').attr("style", "background-image:url('../../Images/AboutUsLend.jpg')");
        $("h1.heading").text("About Us");
    });
</script>

}

