@model lendmyautoinfo.Models.ContactUsData
@{

                ViewBag.Title = "Contact";
}

<div class="container" style="padding-top:40px;">
    <p>Got a question for us? We're happy to answer. Fill out the form and we'll get back to you as soon as we can.</p>
    @using (Html.BeginForm("Contact", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
    <div class="col-lg-12">
        <div class="form-group">
            @Html.TextBoxFor(m => m.Name, null, new { @class = "form-control", @placeholder = "Name" })
        </div>
        <div class="form-group">
            @Html.TextBoxFor(m => m.EmailAddress, null, new { @class = "form-control", @placeholder = "Email Address" })
        </div>
        <div class="form-group">
            @Html.TextAreaFor(m => m.Message, new { @class = "form-control", @placeholder = "Message" })
        </div>
    </div>
       
        <button class="btn btn-secondary" type="submit">Send Message</button>
    }
</div>
    


@section scripts{
    <script>
        $(document).ready(function () {
            $('#headerPic').attr("style", "background-image:url('../../Images/contactuslendmyauto.jpg')");
            $("h1.heading").text("Contact Us");
        });
    </script>

}
