
@{
    ViewBag.Title = "PrivacyPolicy";
}

<div class="container" style="padding-top:70px;">
    <iframe width="100%" style="height: 95vh" src="https://app.termly.io/document/privacy-policy/d1570d1f-7062-4163-b198-4d1868a64dac" frameborder="0" allowfullscreen>
        Your browser does not support iframes.
    </iframe>
</div>
   


