
@{
    ViewBag.Title = "Sharing";
    
}

<div>
    <h1>Sharing Made Simple</h1>

    <h3>Money belongs to you</h3>
    <ol>
        <li>
            Step 1 (create a free online profile)
        </li>
        <li>
            Step 2 (Find only available cars nearby or list your ride for rent)
        </li>
        <li>
            Step 3 (Grab the keys from your neighbor or unlock using our app)
        </li>

    </ol>

</div>
@section scripts{
    <script>
    $(document).ready(function () {
        $('#headerPic').attr("style", "background-image:url('../../Images/carkeys.jpg')");
        $("h1.heading").text("Community of Car Sharers");
    });
    </script>

}
