
@{
    ViewBag.Title = "Sharing";
    
}

<div class="container" style="padding-top:70px; text-align:center">
    <h1>World’s fleet of cars at your fingertips</h1>
    <div class="steps">
        <div class="step">
            <div class="row">
                <div class="col-lg-12">
                    <img src="~/Images/LendProfile.png" style="width:10%" />
                    <div class="step-title" style="padding-top:7px;">
                        Create
                    </div>
                    <div class="step-description">
                        Create a free online profile
                    </div>
                </div>
            </div>
        </div>
        <div class="step">
            <img src="~/Images/LendCarSearch.png" style="width:10%;" />
            <div class="step-title">
                Find
            </div>
            <div class="step-description">
                Pay a low cost yearly subscription
            </div>
        </div>
        <div class="step">
            <img src="~/Images/unlockcar.png" style="width:10%;" />
            <div class="step-title">
                Unlock
            </div>
            <div class="step-description">
                Join a community of “car-sharers”
            </div>
        </div>
    </div>
        </div>
</div>
@section scripts{
    <script>
    $(document).ready(function () {
        $('#headerPic').attr("style", "background-image:url('../../Images/LendCommunity.jpeg')");
        $("h1.heading").text("I share my car. You share your car.");
    });
    </script>

}
