
@{
    ViewBag.Title = "Terms And Conditions";
}

<div class="container" style="padding-top:70px;">
    <iframe width="100%" style="height: 95vh" src="https://app.termly.io/document/terms-of-use-for-website/7c933468-f0bb-465a-97ac-40b1ba24591b" frameborder="0" allowfullscreen>
        Your browser does not support iframes.
    </iframe>
</div>
@section scripts{
    <script>
        $(document).ready(function () {
            $("h1.heading").text("Terms and Conditions");
        });
    </script>

}

