body {
 
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */


.pill {
    width: 40%;
    margin: auto;
    background-image: linear-gradient(rgb(133, 134, 140),rgb(133, 134, 140));
    min-width: 220px;
    border-radius: 30px !important;
    height: 45px !important;
    z-index: 9999;
    padding-top: 9px;
}

.pill-text {
    z-index: inherit;
    color: white;
    white-space: nowrap;
    text-align: center;
    font: normal 15px / 27px "Roboto", Helvetica, Arial, Verdana, sans-serif;
}


/*Image style for navbar and the main heading per page */

header {
    height: 100vh;
    min-height: 400px;
    width: 100%;
    background-size: cover;
    background-image: url('../../Images/sampleLEndMYAUTO.jpeg');
}
.navbar {
    transition: background-color 1s ease 0s;
}

.nav-link {
    color: #BDBDBE !important;
    
}
    .nav-link:hover {
        color: #E6E7E7 !important;
    }
header > p {
    text-align: center;
    padding: 20px 60px;
    
}
header > .btn {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    padding: 10px;
    font-size: 1.2em;
     
 }

header > .heading {
    color: white;
    text-align: center;
    padding-top: 200px;
}

/*end the navbar styles */

/*Solid nav bar style*/
.solid {
    background-color: #2D2D2D;
    transition: background-color 1s ease 0s;
    box-shadow: 0 0 4px grey;
}


.navbar-nav > li {
    color: #C57ED3;
    transition: color 1s ease 0s;
}
.navbar-nav > a {
    color: #C57ED3;
    transition: color 1s ease 0s;
}
/*End solid styles*/


.steps {

    padding-top:15px;
    padding-bottom:15px; 
}

.step {
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgb(206, 206, 206);
    padding-top: 30px;
    padding-bottom: 30px;
}
.step-title {
    font-weight: 700;
    font-size: 18px;
}
.step-description {
    color: #666;
    font-size: 16px;
}





